$midnightBlue: #2c3e50;

body{
  font-family:Segoe UI, Helvetica, sans-serif;
  color:white;
  background-color:$midnightBlue;
  margin: 10px;
}

h1{
  font-family:Segoe UI Light, Helvetica, sans-serif;
  font-size: 28px;
}

video{
	border: solid 5px white;
	border-radius: none;
  width: calc(100% - 10px);
  max-width: 1300px;
}

#videoContainer{
  width: 100%;
  text-align: center;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
		
 
.flex-items-default {
    width: 600px;
    height: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

.flex-item {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  //width: 640px;
  //height: 50%;
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}